<mat-toolbar class="main-header">
  <mat-toolbar-row class="main-toolbar">
    <img src="assets/images/logo.png" alt="logo">

    <span class="example-spacer"></span>

    <a href="#" *ngFor="let menuItem of menuItems"><span class="toolbar-items">{{menuItem}}</span></a>
    <!-- <a href="#"><span class="toolbar-items">ABOUT US</span></a>
    <a href="#"><span class="toolbar-items">PROJECT</span></a>
    <a href="#"><span class="toolbar-items">DOCUMENT</span></a>
    <a href="#"><span class="toolbar-items">NOTICE BOARD</span></a>
    <a href="#"><span class="toolbar-items">CONTACT</span></a> -->
  </mat-toolbar-row>
</mat-toolbar>
