<mat-toolbar>
  <mat-toolbar-row>
    <img src="assets/images/logo.png" alt="logo">

    <span>Uganda Learning, Evidence, Accountability,</span>
    <span>and Research Network</span>
    <span>P.O. Box 12018, Kampala – Uganda.</span>

    <span class="example-spacer"></span>

    <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>

  </mat-toolbar-row>

</mat-toolbar>
