<!-- <mat-toolbar class="bg-darkgrey">
  <mat-toolbar-row>
    <img src="assets/images/logo.png" alt="logo">

    <span>Uganda Learning, Evidence, Accountability,</span>
    <span>and Research Network</span>
    <span>P.O. Box 12018, Kampala – Uganda.</span>

    <span class="example-spacer"></span>

    <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>

  </mat-toolbar-row>

</mat-toolbar> -->

<!-- Footer -->
<footer>
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Contact us</h2>

          <p><b>Feedback</b></p>
          <p>U-Learn welcomes all feedback.</p>
          <p>
            <i class="fa-regular fa-envelope me-2"></i
            ><a href="#">info@ulearn-uganda.org</a>
          </p>

          <br />
          <p><b>Report a Concern </b></p>
          <p>
            You can also contact us with any issues / safeguarding concerns
            using our dedicated email address
          </p>
          <p>
            <i class="fa-regular fa-face-meh me-2"></i
            ><a href="#">report@ulearn-uganda.org</a>
          </p>

          <br />
          <p>
            Please note that all complaints will be taken seriously and
            responded to.
          </p>
        </div>
        <div class="col-md-4">
          <h2>Latest Publications</h2>

          <div class="row footer-publications">
            <div class="col-md-4">
              <img src="assets/images/CVA-image-150x150.jpg" alt="" />
            </div>
            <div class="col-md-8">
              <a href="#"
                ><p>
                  Videos from the harmonisation of CVA workshop sessions
                </p></a
              >
              <br />
              <span>07 March, 2022 </span>
            </div>
          </div>
          <br />
          <div class="row footer-publications">
            <div class="col-md-4">
              <img src="assets/images/CVA-image-150x150_2.jpg" alt="" />
            </div>
            <div class="col-md-8">
              <a href="#"
                ><p>
                  Financial Services in the Uganda Refugee Response – An
                  assessment of users’ perspectives
                </p></a
              >
              <br />
              <span>23 February, 2022 </span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h2>Quick Links</h2>

          <ul class="quick-links">
            <li>
              <a href="#">Accountability to Affected Populations (AAP)</a>
            </li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Learning Hub</a></li>
            <li><a href="#">Covid-19 Bulletins</a></li>
            <li><a href="#">Market Monitors</a></li>
            <li><a href="#">Submit a TELS Request</a></li>
            <li><a href="#">List of all publications</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10">Copyright © 2021 U-learn</div>
        <div class="col-md-2">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
</footer>
<!-- Footer -->
