<div class="hero-image">
  <div class="hero-text">
    <h1>
      EVIDENCE IN <br />
      PRACTICE
    </h1>
    <h2>
      Providing dedicated support to <br />
      the Uganda refugee response <br />
      community
    </h2>

    <div class="input-group">
      <input
        class="form-control"
        type="text"
        placeholder="Search Our Resources..."
        id="search-input"
      />
      <span class="input-group-prepend">
        <button class="btn" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
</div>
<img
  class="hero-dots"
  src="assets/images/Asset-5dotssmall-2048x146.png"
  alt="dots"
/>

<div class="bg-white">
  <div class="container homepage-card">
    <div class="row">
      <div class="col-md-4">
        <mat-card>
          <img src="assets/images/homepagecard-1.png" alt="card1" />
          <mat-card-title>Learning Hub</mat-card-title>
          <mat-card-subtitle
            >Facilitating cross-sectoral learning and encouraging uptake of key
            evidence amongst refugee response actors
          </mat-card-subtitle>
          <a href="#"><button type="button" class="btn custom-btn-1">Read More</button></a>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="homepage-card">
          <img src="assets/images/homepagecard-2.png" alt="card1" />
          <mat-card-title
            >Accountability to Affected Populations (AAP)</mat-card-title
          >
          <mat-card-subtitle
            >Empowering refugees and host communities to make their voices count
            all levels of refugee response planning
          </mat-card-subtitle>
          <a href="#"><button type="button" class="btn custom-btn-1">Read More</button></a>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="homepage-card">
          <img src="assets/images/homepagecard-3.png" alt="card1" />
          <mat-card-title>Research</mat-card-title>
          <mat-card-subtitle
            >Conducting in-depth assessments to fill critical knowledge gaps in
            the refugee response
          </mat-card-subtitle>
          <a href="#"><button type="button" class="btn custom-btn-1">Read More</button></a>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="container"></div>
