<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 bg-white">
      <div class="chart-position">
      <span class="resetBtn" (click)="resetFilter($event)">Reset</span>
        <ul class="chart-skills">
          <li *ngFor="let menuButton of menuButtons" (click)="filterType(menuButton)">
            <span class="grow">{{menuButton.menuName}}</span>
          </li>
          <!-- <li>
                  <span>HTML</span>
                </li>
                <li>
                  <span>PHP</span>
                </li>
                <li>
                  <span>Python</span>
                </li> -->
        </ul>
      </div>
      <div class="filter-menu">
        <button class="sub-toolbar-item">Clear All</button>
        <br>
        <p>Active Filters</p>
        <ul>
          <li>Adjumani</li>
          <li>National</li>
        </ul>
      </div>

    </div>
    <div class="col-sm-8 mt-5">
      <div class="row">
        <div class="col-md-6">
          <!-- <mat-icon aria-hidden="false" class="search-icon">search<input type="Search" class="formField"></mat-icon> -->
          <div class="input-icons">
            <i class="fa-solid fa-magnifying-glass icon"></i>
            <input type="Search" class="formField" placeholder="">
          </div>
        </div>
        <div class="col-md-4 offset-md-2">
          <a href="#"><b><u>View Filtered Data as Table</u></b></a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 col-12 d-flex justify-content-center" *ngFor="let n of numSequence(6)">
          <mat-card class="organization-card">
            <mat-card-title>Organization Name</mat-card-title>
            <mat-card-content>
              <p>Location of headquarters: <b>Adjumani</b></p>
              <p>Geographic Scope: <b>National</b></p>
              <p>Type of Organization: <b>Refugee-led organization</b></p>
              <p>Thematic areas of work: <b>Health</b></p>
              <p>Target Demographic: <b>Women</b></p>

            </mat-card-content>

          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
