/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$purple: #893789;
$green: #37887a;
$yellow: #f19e3c;
$darkblue: #373f88;
$orange: #f16a3b;
$lightblue: #00aeef;
$grey: #E5E5E5;
$grey-1:#DCDCDC;
$darkgrey: #7a776c;

/* BACKGROUND COLOR HELPERS */
.bg-grey {
  background-color: $grey;
}

.bg-darkgrey {
  background-color: $darkgrey;
}

.main-header {
  background-color: $lightblue;
  padding: 1rem 0rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar-items {
  margin-right: 1rem;
  font-size: 18px;
}

.main-toolbar {
  background-color: white;
  padding: 0.5rem 0rem !important;
}

.sub-toolbar {
  justify-content: center;
  padding: 4rem 0rem !important;
  background-color: $grey-1;

  .sub-toolbar-item {
    margin-right: 20px;
    color: white;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0rem 1.5rem;
    font-size: 18px;
  }

  .btn-0 {
    background-color: $purple;
  }
  .btn-1 {
    background-color: $green;
  }
  .btn-2 {
    background-color: $yellow;
  }
  .btn-3 {
    background-color: $darkblue;
  }
  .btn-4 {
    background-color: $orange;
  }
}

a {
  text-decoration: none;
  color: black;
}

mat-grid-tile {
  background: $lightblue;
}

.table {
  border-top: 1rem solid $lightblue;
}

/* HEADER STUFF */
.dropdown-menu {
  background-color: $grey;

  .dropdown-item {
    border-bottom: 3px solid white;
    text-align: end;
  }
}

/* BACKGROUND PAGE */
.bg-org {
  background-image: url("https://images.unsplash.com/photo-1626303530832-eafcd9aa0592?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  height: 366px;
  background-position: center;
  background-size: cover;
}

/* ORGANIZATION */
.organization{
  background-color:$grey;
}

.organization-card {
  width: 100%;
  margin: 1rem;
}

.organization {
  .org-mat-icon-1 {
    font-size: 2.5rem;
  }

  .org-mat-icon-2 {
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
  }
}

.formField {
  width: 21rem;
  background: transparent;
  border-radius: 25px;
}

/* TABLE PAGE */
.table-menu {
  padding: 2rem 0rem;
  font-weight: bold;

  .mat-icon-1 {
    margin-right: 1rem;
  }
}

.pagination > li > a,
.pagination > li > span {
  border-radius: 50% !important;
  margin: 0 5px;
}

/* MAIN PAGE */
body {
  font: normal 16px/1.5 "Roboto", sans-serif;
  padding: 0 0 0 0;
  background: #f1f1f1;
}

/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-parent{
  position: relative;
  width: 500px;
	height: 500px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	transform: rotate(0deg);
	transition: transform 0.7s linear;

  .chart-child{
  //  display: block;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  width: 10em;
  //  height: 10em;
  //  border-radius: 50%;
  //  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  //  border: solid 0px tomato;
  //  -webkit-transition: .15s;
  //  transition: .15s;

    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    // top: 8px;
    // left: 110px;
      top: 50%;
   left: 50%;
    background-color: #C6C1AE;
    // span{
    //   width: 42px;
    //   height: 100px;
    //   padding: 5px;
    //   position: absolute;
    //   left: 0;
    //   top: -99px;
    //   border-radius: 6px;
    //   background-color: #C6C1AE;
    // }
  }
  // .chart-child:nth-child(1) {
  //  transform: rotate(0deg) translate(13em) rotate(0deg);
  // }
  // .chart-child:nth-child(2) {
  //   transform: rotate(51deg) translate(13em) rotate(-51deg);
  //   }
  // .chart-child:nth-child(3) {
  //   transform: rotate(102deg) translate(13em) rotate(-102deg);
  //   }
  // .chart-child:nth-child(4) {
  //   transform: rotate(153deg) translate(13em) rotate(-153deg);
  //   }
  // .chart-child:nth-child(5) {
  //   transform: rotate(204deg) translate(13em) rotate(-204deg);
  //   }
}
// .chart-child:nth-child(2){
//   position: absolute;
//     width: 42px;
//     height: 42px;
//     border-radius: 50%;
//     transform: rotate(0deg);
//     transition: transform 0.7s linear;
//     top: 8px;   /* -child size/2 */
//     left: 110px;   /* parent size/2 - child size/2 */
//     background-color: #C6C1AE;
// }
// .chart-child:nth-child(2) span {
//   top: 33px;
//   left: -60px;

//   color: #ffffff;
//   transform: rotate(-126deg);
// }

.chart-position {
  display: flex;
  transform: rotate(90deg);
  position: absolute;
  top: 38%;
   left: -6%;

}
.chart-skills {
  margin: 50% auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills *,
.chart-skills::before {
  box-sizing: border-box;
}

/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
  position: relative;
  width: 350px;
  height: 175px;
  overflow: hidden;
}

.chart-skills::before,
.chart-skills::after {
  position: absolute;
}

.chart-skills::before {
  content: "";
  width: inherit;
  height: inherit;
  border: 45px solid rgba(211, 211, 211, 0.3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}
.chart-position {
  .resetBtn {
    position: absolute;
    cursor: pointer;
    height: 140px;
    width: 80px;
    background-color: $lightblue;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 0 100px 100px 0;
    transform: rotate(-90deg);
    color: #ffffff;
    left: 39%;
    top: 47.8%;
    z-index: 5;
  }
}

// .chart-skills::after {
//   content: "Reset";
//   left: 50%;
//   bottom: 0px;
//   transform: translateX(-50%);
//   font-size: 1.1rem;
//   font-weight: bold;
//   color: white;
//   background-color: #00aeef;
//   height: 84px;
//   width: 160px;
//   border-radius: 150px 150px 0 0;
// }

.chart-skills li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 80px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;

  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

.chart-skills li:nth-child(1) {
  cursor: pointer;
  z-index: 5;
  border-color: $purple;
  animation-name: rotate-one;
}

.chart-skills li:nth-child(2) {
  cursor: pointer;
  z-index: 4;
  border-color: $green;
  animation-name: rotate-two;
  animation-delay: 0.4s;
}

.chart-skills li:nth-child(3) {
  cursor: pointer;
  z-index: 3;
  border-color: $yellow;
  animation-name: rotate-three;
  animation-delay: 0.8s;
}

.chart-skills li:nth-child(4) {
  cursor: pointer;
  z-index: 2;
  border-color: $darkblue;
  animation-name: rotate-four;
  animation-delay: 1.2s;
}

.chart-skills li:nth-child(5) {
  z-index: 1;
  border-color: $orange;
  animation-name: rotate-five;
  animation-delay: 1.2s;
}

.chart-skills span {
  position: absolute;
  font-size: 0.85rem;
  backface-visibility: hidden;
  animation: fade-in 0.4s linear forwards;
}

.chart-skills li:nth-child(1) span {
  top: 33px;
  left: -60px;

  color: #ffffff;
  transform: rotate(-126deg);
}

.chart-skills li:nth-child(2) span {
  top: 14px;
  left: -91px;
  color: #ffffff;
  max-width: 90px;
  transform: rotate(-162.2deg);
}

.chart-skills li:nth-child(3) span {
  top: 24px;
  left: -85px;
  color: #ffffff;
  max-width: 90px;
  transform: rotate(-200.4deg);
  animation-delay: 0.8s;
}

.chart-skills li:nth-child(4) span {
  top: 30px;
  left: -85px;
  color: #ffffff;
  max-width: 85px;
  transform: rotate(-236deg);
  animation-delay: 1.2s;
}

.chart-skills li:nth-child(5) span {
  top: 31px;
  left: -81px;
  color: #ffffff;
  max-width: 90px;
  transform: rotate(-271deg);
  animation-delay: 1.2s;

  &:hover {
    cursor: pointer;
    color: #37887a !important;
  }
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
  100% {
    transform: rotate(calc(36deg));
    /**
     * 12% => 21.6deg
     */
  }
}

@keyframes rotate-two {
  0% {
    transform: rotate(calc(36deg));
  }
  100% {
    transform: rotate(calc((36deg) * 2));
    /**
     * 32% => 57.6deg
     * 57.6 + 21.6 => 79.2deg
     */
  }
}

@keyframes rotate-three {
  0% {
    transform: rotate(calc((36deg) * 2));
  }
  100% {
    transform: rotate(calc((36deg) * 3));
    /**
     * 34% => 61.2deg
     * 61.2 + 79.2 => 140.4deg
     */
  }
}

@keyframes rotate-four {
  0% {
    transform: rotate(calc((36deg) * 3));
  }
  100% {
    transform: rotate(calc((36deg) * 4));
    /**
     * 22% => 39.6deg
     * 140.4 + 39.6 => 180deg
     */
  }
}

@keyframes rotate-five {
  0% {
    transform: rotate(calc((36deg) * 4));
  }
  100% {
    transform: rotate(calc((36deg) * 5));
    /**
     * 22% => 39.6deg
     * 140.4 + 39.6 => 180deg
     */
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* INPUT ICONS */
.input-icons {
  i {
    position: absolute;
  }
  .icon {
    padding: 7px;
    min-width: 40px;
  }
}

/* FILTER BUTTONS */
.filter-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 4rem 0rem;
  margin-left: 65%;
}

/* MEDIA QUERY */
@media screen and (min-width: 1920px) {
  //For Projectors or Higher Resolution Screens (Full HD)
  .container {
    width: 1890px;
  }
  .chart-position {
    display: flex;
    transform: rotate(90deg);
    position: absolute;
    top: 38%;
    // left: -4.5%;
    left: 7.5%
  }
}
@media screen and (min-width: 3840px) {
  //For 4K Displays (Ultra HD)
  .container {
    width: 3810px;
  }
}
