<!-- BANNER IMAGE -->
<div class="bg-org"></div>

<!-- ORGANIZATION DETAILS -->
<div class="container bg-grey organization">
  <br>
  <br>
  
  <div class="row">
    <div class="col-1">
      <a href="#">
        <mat-icon class="org-mat-icon-1">arrow_circle_left</mat-icon>
      </a>
    </div>
    <div class="col-11">
      <h2>Organization Name</h2>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-5 offset-md-1">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra consequat justo, at pulvinar justo blandit
        id. Pellentesque nec eros in enim ornare fermentum. Phasellus dapibus massa vitae leo eleifend, ut sollicitudin
        nulla sollicitudin. Ut malesuada sed metus in gravida. Donec gravida magna sed justo ornare, id vestibulum
        turpis mattis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec rhoncus risus a massa
        ultricies, in maximus justo pharetra. Phasellus in nulla varius, mattis mi a, mollis orci. Maecenas sed posuere
        arcu, tempor tristique tortor. Suspendisse lobortis elit eu augue tincidunt, ut varius dolor vulputate. Cras
        sollicitudin non arcu eleifend egestas. Nunc finibus leo turpis, quis aliquet eros facilisis sed. Maecenas eros
        nibh, hendrerit nec sodales id, finibus ut urna. Nullam ac accumsan augue, quis auctor eros. Vivamus maximus
        rhoncus aliquet. Cras aliquet id justo ornare interdum.
      </p>
      <p>
        Etiam at ultrices tellus. Nulla consectetur mollis ex eu
        malesuada. Curabitur et semper ligula, non convallis tortor. Ut finibus luctus neque, efficitur tincidunt ipsum
        mollis in. Phasellus urna massa, posuere quis sagittis vitae, condimentum a dui. Nunc non sodales mi, non
        pretium nisl. Vivamus interdum, dolor ac efficitur sagittis, ipsum purus efficitur magna, ac feugiat lacus
        tortor at quam. Proin maximus arcu ex, at vestibulum sem molestie sit amet. In hac habitasse platea dictumst.
        Quisque nunc lacus, pulvinar eu pellentesque a, facilisis non tellus. Suspendisse malesuada quam quis tellus
        commodo volutpat. Aliquam porttitor lacinia ex sed tempus. Aenean hendrerit at nunc non semper.
      </p>
      <p>
        Etiam tortor ex,
        ultrices vitae convallis ac, pellentesque non lorem. Etiam eu erat non sem maximus interdum. Pellentesque sed
        tellus auctor, tempor dui ut, ultricies augue. Nunc auctor accumsan tellus ac suscipit. Ut sollicitudin
        efficitur hendrerit. Sed scelerisque dolor sapien, quis tristique nibh ultrices sit amet. Phasellus volutpat sed
        diam sit amet efficitur. Praesent vel sapien nibh. Donec elementum tellus et ante scelerisque commodo. Vivamus
        id metus lacinia, pretium magna id, posuere ex. In aliquet convallis sapien, a vestibulum tellus dapibus sed.
        Donec finibus est feugiat velit imperdiet, quis vehicula mi iaculis. Proin justo ex, eleifend a rhoncus
        porttitor, commodo et lorem. Vivamus pulvinar, tortor quis vestibulum malesuada, velit enim molestie metus, vel
        eleifend metus ante nec dolor. Maecenas viverra, mauris non rhoncus viverra, massa arcu dignissim quam, a
        bibendum est mauris id lacus. Aliquam vitae orci venenatis, placerat orci sed, blandit mauris. Interdum et
        malesuada fames ac ante ipsum primis in faucibus.
      </p>


    </div>
    <div class="col-md-4 offset-md-2">
      <div>
        <mat-icon class="org-mat-icon-2">language</mat-icon>Website: https://loremipsum.org
      </div>
      <div>
        <mat-icon class="org-mat-icon-2">phone</mat-icon>Contact: +000 123 456 7899
      </div>
      <div>
        <mat-icon class="org-mat-icon-2">email</mat-icon>Email: loremipsum@lorem.com
      </div>

    </div>

  </div>

</div>
